body {
  font-family: 'arial';
}

.main-title {
  text-align: center;
  font-size: 50px;
}

.game-window {
	position: relative;
  height: 600px;
  width: 600px;
  margin: 50px auto;
  border: 1px solid #000;
}

.snake-module {
	position: absolute;
	height: 3%;
	width: 3%;
	border: 1px solid #fff;
	background-color: #000;
}
